* {
  margin: 0;
  padding: 0;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p,
h1,
h3 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main__item {
  flex: 1 1;
}

.avatar {
  padding: 50px 30px 0px 30px;
}

.info {
  text-align: right;
}

.fullname {
  font-size: 40px;
  margin-top: 20px;
}

.job {
  font-size: 38px;
  font-weight: 700;
  margin: 25px 0px;
}

.short-desc {
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.nav {
  margin-top: -4px;
  background-color: black;
  color: white;
  text-align: center;
  height: 15px;
}

.socail-links i {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: black;
  text-align: center;
  margin: 5px;
  position: relative;
}

.socail-links i:before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

section {
  padding: 80px 0px;
}

.section-skills {
  background: #fcfcfc;
  border: 1px dashed #cfcfcf;
}

.section-title {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
}

.skills {
  display: flex;
  flex-direction: row;
}

.skills__item {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.skills__symbol {
  margin: 0px 30px 30px 30px;
}

.skills__symbol i {
  font-size: 40px;
  width: 45px;
  height: 45px;
  text-align: center;
}

.skills__symbol i:before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.skills-title {
  margin-bottom: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .info {
    text-align: center;
  }

  .avatar {
    padding: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 768px) {
  .skills {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .info {
    text-align: center;
  }

  .main {
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .info {
    text-align: right;
  }

  .main {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .info {
    text-align: right;
  }

  .main {
    flex-direction: row;
  }
}
