* {
  margin: 0;
  padding: 0;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p,
h1,
h3 {
  margin: 0;
  font-family: Space Mono,monospace;
}

.main__item {
  flex: 1 1;
}

.avatar {
  padding: 50px 30px 0px 30px;
}

.info {
  text-align: right;
}

.fullname {
  font-size: 40px;
  margin-top: 20px;
}

.job {
  font-size: 38px;
  font-weight: 700;
  margin: 25px 0px;
}

.short-desc {
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.nav {
  margin-top: -4px;
  background-color: black;
  color: white;
  text-align: center;
  height: 15px;
}

.socail-links i {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: black;
  text-align: center;
  margin: 5px;
  position: relative;
}

.socail-links i:before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

section {
  padding: 50px 0px;
}

.section-skills {
  background: #f5f5f5;
  border: 2px dashed #cdcdcd;
}

.section-roadmap {
  background: #f5f5f5 url('../img/street-line.png');
  background-position: center;
  background-size: 200px 300px;
  height: 250px;
}

.section-title {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
}

.section-content {
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: row;
}

.skills__item {
  padding: 20px;
  margin: 15px;
  text-align: center;
  flex: 1;
  border: 1px dashed black;
}

.skills__symbol {
  margin: 0px 30px 30px 30px;
}

.skills__symbol i {
  font-size: 40px;
  width: 45px;
  height: 45px;
  text-align: center;
}

.skills__symbol i:before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.skills-title {
  word-wrap: break-word;
  margin-bottom: 15px;
}

.roadmap-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roadmap-line div {
  rotate: 90deg;
  position: relative;
}

.step-detail {
  position: relative;
}

.step-detail pre {
  rotate: -90deg;
  position: absolute;
}

.step {
  width: 60px;
  margin: 20px;
}

.step-1 {
  top: -90px;
}

.step-1 pre {
  position: absolute;
  top: 85px;
  right: -15px;
}

.step-2 {
  bottom: -40px;
}

.step-2 pre {
  position: absolute;
  top: 85px;
  right: -55px;
}

.step-3 {
  top: -90px;
}

.step-3 pre {
  position: absolute;
  top: 85px;
  right: -35px;
}

.select-lang {
  width: 30px;
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
}

.select-lang img {
  cursor: pointer;
  margin: 5px 0;
}

.projects {
  display: flex;
}

.project {
  border: 1px solid #202224;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 15px;
}

.project__icon {
  color: #202224;
}

.project__name {
  margin: 16px 0px;
  color: #202224;
  font-size: 1.125rem;
  font-weight: 500;
}

.project__desc {
  color: #202224;
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 30px;
}

.techstack__header {
  margin: 16px 0px;
  font-family: Space Mono,monospace;
}

.techstack__header i {
  margin-right: 10px;
}

.techstack__enum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.techstack__item {
  border: 1px solid #202224;
  padding: 4px;
  margin: 5px 5px 5px 0px;
  list-style: none;
}

.techstack__item:last-child {
  margin-top: 0px;
}

.project__footer {
  margin-top: 16px;
}

.project__footer a {
  text-decoration: none;
  color: #202224;
}



@media only screen and (min-width: 600px) {
  .info {
    text-align: center;
  }

  .main {
    flex-direction: column;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .info {
    text-align: center;
  }

  .avatar {
    padding: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 768px) {
  .skills, .projects {
    flex-direction: column;
  }

  .step {
    width: 45px;
  }

  .step-1 pre {
    position: absolute;
    top: 65px;
    right: -20px;
  }

  .step-2 pre {
    position: absolute;
    top: 65px;
    right: -55px;
  }

  .step-3 pre {
    position: absolute;
    top: 65px;
    right: -35px;
  }

  .techstack__item:last-child {
    margin-top: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .info {
    text-align: right;
  }

  .main {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .info {
    text-align: right;
  }

  .main {
    flex-direction: row;
  }
}